<!-- Smart Wizard plugin -->
<% content_for :styles do %>
  <%= stylesheet_link_tag 'libs/smartwizard/smartwizard.css', media: 'all' %>
<% end %>
<% content_for :scripts do %>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <%= javascript_include_tag 'libs/smartwizard/smartwizard.js' %>
  <%= javascript_include_tag 'libs/validate/validate.js' %>
  <%= javascript_include_tag 'dashboard/forms_wizard_symptoms.js' %>
<% end %>
<h1>
  <%= @symptom.name %>
</h1>
