<h1>Helping Yourself - Set up Self-tracking</h1>
<% if current_user.conditions != [] %>
  <p>Based on the conditions you listed in your profile, the recommended things for you to track are listed below:</p>
  <p>Which ones do you want to track?</p>
  <ul>
    <% @primary_symptoms.each do |symptom| %>
    <li>
      <%= symptom.name %>
    </li>
    <% end %>
  </ul>
  <p>Other things you might want to track are:</p>
  <ul>
    <% @supporting_symptoms.each do |symptom| %>
    <li>
      <%= symptom.name %>
    </li>
    <% end %>
  </ul>
  <p>Want to track something that isn't here?</p>
<% end %>
- Track a new symptom

<h2>Track a Symptom</h2>
<%= form_for @new_user_symptom do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name,
        autofocus: true,
        placeholder: "Symptom",
        class: "form-control",
        required: true
    %>
  </div>

  <%= form.fields_for :symptoms_users do |m| %>
    <div class="form-group">
      <%= m.label :normal_range_upper %>
      <%= m.text_field :normal_range_upper,
          placeholder: "Upper Range",
          class: "form-control",
          required: true
      %>
    </div>
    <div class="form-group">
      <%= m.label :normal_range_lower %>
      <%= m.text_field :normal_range_lower,
          placeholder: "Lower Range",
          class: "form-control",
          required: true
      %>
    </div>
    <div class="form-group">
      <%= m.label :assistance_threshold %>
      <%= m.text_field :assistance_threshold,
          class: "form-control",
          required: true
      %>
    </div>

    <div class="form-group">
      <%= m.label :unit_of_measure %>
      <%= m.text_field :unit_of_measure,
          placeholder: "e.g mL",
          class: "form-control",
          required: true
      %>
    </div>
  <% end %>

  <div class="form-group" style="margin-top: 2rem;">
    <%= form.submit class:"btn btn-outline-primary" %>
  </div>
<% end %>
