<%= form_tag symptom_tracked_symptoms_path(@symptom) do %>
  <% @measurements.each do |measurement| %>
    <div class="form-group">
      <%= fields_for 'measurements[]', measurement do |m|%>
        <%= m.label :severity_score, ValueType.find(measurement.value_type_id).name %>
        <%= m.text_field :severity_score,
            autofocus: true,
            placeholder: "Severity Score",
            class: "form-control",
            required: true
        %>
        <%= m.hidden_field :value_type_id, { :value => measurement.value_type_id } %>
        <%= m.hidden_field :symptom_id, { :value => measurement.symptom_id }%>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
      <%= submit_tag %>
  </div>
<% end %>