<%# No need to use fields_for due to only having to input 1 value %>
<%# <%= form_for symptom_tracked_symptoms_path(@symptom) do |f|%>
<%= form_for @tracked_symptom, :url => symptom_tracked_symptoms_path(@symptom) do |f|%>
    <div class="form-group">
        <%= f.label :severity_score, "Severity Score:" %>
        <%= f.text_field :severity_score,
            autofocus: true,
            placeholder: "Severity Score",
            class: "form-control",
            required: true
        %>
        <%= f.hidden_field :symptom_id,  :value => @symptom.id %>
        <%= f.hidden_field :user_id,  :value => current_user.id %>
      <%= f.submit "Submit" %>
  </div>
<% end %>
