<%= stylesheet_link_tag 'chartist/chartist.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "health-charts" %>
<%= javascript_include_tag "chartist/chartist"%>

<h1>My Conditions</h1>
<main id="chart-area">
  <!-- Loop through current user's self-tracking conditions -->
  <% @user_conditions.each_with_index do |condition, index| %>
  <!-- Build Graphing template -->
    <%= content_tag "section", id: "chart-area-#{index}" do %>
    <!-- Build Data for graph -->
      <% if !condition.tracked_health_conditions.empty? %>
              
        <!-- Chart -->
        <%# Severity scores is an array of hashes [{x,y},{x,y}] %>
        <%= content_tag "div", class: "chart", id: "chart#{index}", data: {nodes: build_data_collection(condition) }, style: "height: 250px" do %>
        
        <% end %>
      <% else %>
        <%= content_tag "div", class: "chart", id: "chart#{index}", data: {nodes: 0 }, style: "height: 250px" do %>
        <% end %>
      <% end %>
      <!-- Actions -->
      <%= link_to health_condition_path(condition.id) do %>
        <%= condition.condition_name %>
      <% end %>

      
    <% end %>
  <% end %>
</main>

<div id="chartist-bi-polar" style="height: 250px"></div>