<%= form_for @new_user_condition do |form| %>
  <div class="form-group">
    <%= form.label :condition_name %>
    <%= form.text_field :condition_name,
        autofocus: true,
        placeholder: "Condition Name",
        class: "form-control",
        required: true
    %>
  </div>
  <div class="form-group">
    <%= form.label :normal_range_upper %>
    <%= form.text_field :normal_range_upper,
        placeholder: "Upper Range",
        class: "form-control",
        required: true
    %>
  </div>
  <div class="form-group">
    <%= form.label :normal_range_lower %>
    <%= form.text_field :normal_range_lower,
        placeholder: "Lower Range",
        class: "form-control",
        required: true
    %>
  </div>
  <div class="form-group">
    <%= form.label :assistance_threshold %>
    <%= form.text_field :assistance_threshold,
        class: "form-control",
        required: true
    %>
  </div>

  <div class="form-group">
    <%= form.label :unit_of_measure %>
    <%= form.text_field :unit_of_measure,
        class: "form-control",
        required: true
    %>
  </div>

  <div id="value-type-field">
    <ul>
      <%= form.fields_for :value_types, ValueType.new do |type| %>
        <%= render 'value_type_fields', :f => type %>
      <% end %>
    </ul>
    <%= link_to_add_association 'Add value type', form, :value_types, 'data-association-insertion-node' => "#value-type-field ul", 'data-association-insertion-method' => "append" %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
