<!--Header-Area-->
<header class="blue-bg relative fix" id="home">
  <div class="section-bg overlay-bg ripple ">
      <div class="parallax-image">
          <%= image_tag("login-bg.jpg")  %>
        </div>
  </div>

  <div class="space-20 hidden-xs"></div>
  <!--Header-Text-->
  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-sm-offset-2 wow fadeInUp" data-wow-delay="0.2s">
          <div class="space-90"></div>
          <div class="well well-sm">
            <p>This site is only for use within our research study and not for the general public at this time. If interested, please contact Julie Babione at <%= mail_to "jnstrome@ucalgary.ca" %>.</p>
          </div>
        </div>
      </div>
      <div class="row text-center text-white">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
              <div class="space-30"></div>
              <h1>Sign Up</h1>
              <div class="space-10"></div>
              <p>Already have an account? <%= link_to "Login Here", login_path %></p>
              <div class="space-10"></div>
          </div>
      </div>
  </div>
<!--Header-Text/-->

  <div class="row">
    <div class="col-xs-12 col-md-4 col-sm-offset-4 wow fadeInUp" data-wow-delay="0.2s">
      <div class="well well-lg">
          <%= link_to about_path do %>
            <h5 class="text-center">Why Create an Account?</h5>
          <% end %>
          <div class="space-20"></div>
          <h3>Create an Account</h3>
          <div class="space-20"></div>
              <div class="row">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>
                      <div class="col-xs-6">
                          <div class="form-group">
                              <%= f.text_field :first_name,
                                  autofocus: true,
                                  placeholder: "First name",
                                  class: "form-control",
                                  required: true
                              %>
                          </div>
                          <div class="space-10"></div>
                      </div>
                      <div class="col-xs-6">
                          <div class="form-group">
                              <%= f.text_field :last_name,
                                  autofocus: true,
                                  placeholder: "Last name",
                                  class: "form-control",
                                  required: true
                              %>
                          </div>
                          <div class="space-10"></div>
                      </div>
                      <div class="col-xs-12">
                        <%= f.label :gender, "Gender:" %>
                          <div class="form-group">
                              <div class="col-xs-4">
                                <%= f.radio_button :gender, 'male' %>
                                <%= label :gender, "Male" %>
                              </div>
                              <div class="col-xs-4">
                                <%= f.radio_button :gender, 'female' %>
                                <%= label :gender, "Female" %>
                              </div>
                              <div class="col-xs-4">
                                <%= f.radio_button :gender, 'other' %>
                                <%= label :gender, "Other" %>
                              </div>
                          </div>
                          <div class="space-10"></div>
                      </div>
                      <div class="col-xs-12">
                          <div class="form-group">
                              <%= f.label :date_of_birth %>
                              <%= f.date_field :date_of_birth,
                                  autofocus: true,
                                  class: "form-control",
                                  min: "1900-01-01",
                                  required: true
                              %>
                          </div>
                          <div class="space-10"></div>
                      </div>
                      <div class="col-xs-12">
                          <div class="form-group">
                              <%= f.email_field :email,
                                  autofocus: true,
                                  autocomplete: "email",
                                  placeholder: "Email",
                                  class: "form-control",
                                  id: "form-email",
                                  required: true
                              %>
                          </div>
                          <div class="space-10"></div>
                      </div>
                      <div class="col-xs-12">
                          <div class="form-group">
                            <% if @minimum_password_length %>
                              <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %><br />
                            <%= f.password_field :password,
                                autocomplete: "new-password",
                                class: "form-control",
                                placeholder: "Password",
                                required: true
                            %>
                          </div>
                          <div class="space-10"></div>
                      </div>
                      <div class="col-xs-12">
                          <div class="form-group">
                            <%= f.password_field :password_confirmation,
                                autocomplete: "new-password",
                                class: "form-control",
                                placeholder: "Password Confirmation",
                                required: true
                            %>
                          </div>
                          <div class="space-10"></div>
                      </div>
                      <div class="col-xs-12">
                          <div class="space-10"></div>
                          <%= f.submit "Sign up",
                              class: "btn btn-link text-uppercase",
                              style: "width: 100%"
                          %>
                          <div class="space-20"></div>
                          <p>By clicking "Sign Up", you agree to our
                          <%= link_to 'terms and privacy', terms_conditions_path %>
                          policy. We'll occasionally send you account related emails.</p>
                      </div>
                  <% end %>
              </div>
      </div>
    </div>
  </div>
  <div class="space-40"></div>
</header>
