<% content_for :styles do %>
  <%= stylesheet_link_tag 'fullcalendar/fullcalendar.css', media: 'all' %>
  <%= stylesheet_link_tag 'bootstrap-select/bootstrap-select.css', media: 'all' %>
  <%= stylesheet_link_tag 'select2/select2.css', media: 'all' %>
  <%= stylesheet_link_tag 'bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css', media: 'all' %>
<% end %>

<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_include_tag 'moment/moment.js' %>
  <%= javascript_include_tag 'fullcalendar/fullcalendar.js' %>
  <%= javascript_include_tag 'dashboard/organize/ui_fullcalendar.js' %>
  <%= javascript_include_tag 'bootstrap-select/bootstrap-select.js' %>
  <%= javascript_include_tag 'select2/select2.js' %>
  <%= javascript_include_tag 'bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js' %>
  <%= javascript_include_tag 'dashboard/organize/datetime_picker.js' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<h1>Keep me Organized</h1>

<!-- Event modal -->
<!-- Add Event  -->
<%= form_for @event, url: dashboard_organize_events_path(@event), :html => { :id => "fullcalendar-default-view-modal", class:"modal modal-top fade" } do |f| %>
  <%= render 'form', f: f %>
<% end %>

<!-- / Event modal -->
<div class="card mb-4">
  <div class="card-header">
    <h4><i class="ion ion-md-calendar text-primary"></i>&nbsp;Event Calendar</h4>
    <!-- Event legend start -->
    <div class="col-md-5" style="float:right">
      <div class="card">
        <h6 class="card-header border-0">Event Types</h6>
        <div class="card-body p-1">
          <ul class="legend">
            <% @legends.each do |id, class_name| %>
            <li class="default-style">
              <div class="fc-event <%= class_name %>">
              </div>
              <%= EventType.find(id).name %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <!-- end of event legend -->
    Click on an empty field on the calendar to add an event.
    <br>
    Click on day/week numbers to go to the day/week view.
  </div>
  <div class="card-body">
    <div id='fullcalendar-default-view'></div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4><i class="ion ion-md-calendar text-primary"></i>&nbsp;My Events</h4>
    <!-- Event legend start -->
    <div class="col-md-5">
      <div class="card">
        <h6 class="card-header border-0">Event Types</h6>
        <div class="card-body p-1">
          <ul class="legend">
            <% @legends.each do |id, class_name| %>
            <li class="default-style">
              <div class="fc-event <%= class_name %>">
              </div>
              <%= EventType.find(id).name %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <!-- end of event legend -->
  </div>
  <div class="card-body">
    <div id='fullcalendar-list-view'></div>
  </div>
</div>
