<% content_for :styles do %>
  <%= stylesheet_link_tag 'fullcalendar/fullcalendar.css', media: 'all' %>
<% end %>
<% content_for :scripts do %>
  <%= javascript_include_tag 'dashboard/organize/checklists.js' %>
<% end %>

<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Keep me Organized / Calendar / </span> Event Calendar
</h4>
<div class="col-sm-6">
  <div class="card">
    <div class="card-header">
      <h2 class="card-header-title"><%= @event.name %></h2>
    </div>
    <div class="card-body">
      <p>
        <div class="default-style">
          <b>Event Type: </b>
          <span class="<%= @legends[@event.event_type_id] %> fc-event-dot ml-2"></span> <%= @event.event_type_name %>
        </div>
      </p>
      <p>
        <% if @event.end %>
          <b>Time: </b><%= @event.start.to_formatted_s(:long) %> – <%= @event.end.to_formatted_s(:long) %>
        <% else %>
          <b>Time: </b><%= @event.start.to_formatted_s(:long) %>
        <% end %>
      </p>
      <p>
        <b>Location: </b><%= @event.location %>
      </p>
      <p>
        <b>Repeat: </b><%= @event.frequency %>
      </p>

    </div>
    <div class="card-footer">
      <%= button_to "Delete Event", dashboard_organize_event_path(@event), method: :delete, data: { confirm: 'Are you sure to delete this event?' }, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="card">
    <div class="card-header with-elements">
      <h3 class="card-header-title">Appointment Notes</h3>
      <div class="card-header-elements ml-auto">
        <%= button_to "View all", dashboard_organize_events_checklists_path, method: :get, class: "btn btn-default btn-xs md-btn-flat" %>
      </div>
    </div>

    <%= render partial: 'checklists', locals: {checklists: @checklists} %>

    <div class="card-footer">
      <%= form_for @entry, url: dashboard_organize_event_checklists_path(@event, @entry) do |f| %>
      <div class="input-group">
        <%= f.text_field :entry, class: "form-control", placeholder: "Type your entry" %>
        <div class="input-group-append">
          <%= f.submit "Add", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
