<% content_for :styles do %>
  <%= stylesheet_link_tag 'user.css', media: 'all' %>
<% end %>
<% content_for :scripts do %>
  <%= javascript_include_tag 'conditions.js' %>
<% end %>
<section class="card-body">
  <h2>Hello, <%= @user.first_name%> <%= current_user.last_name%></h2>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Date of Birth:</strong> <%= @user.date_of_birth %></p>
  <p><strong>Gender:</strong> <%= @user.gender %></p>
</section>

<section id="displayConditions">
  <div class="card-header with-elements">
    <div class="card-header-title">
      <h4>My Conditions:</h4>
    </div>
    <div class="card-header-elements">
      <%= link_to "Add/Edit", "", onclick:"editConditions()", :class => "btn btn-outline-primary" %>
    </div>
  </div>
  <div class="card-body condition-list">
    <% @user.conditions.each do |condition| %>
      <% if condition.id != nil %>
    <label>
      <span class="custom-control-label">&bull; <%= condition.name %></span>
    </label>
      <br>
      <% end %>
    <% end %>
  </div>
</section>

<section class="card" id="editConditions">
    <div class="card-header with-elements">
      <div class="card-header-title">
        <h4>My Conditions: </h4>
      </div>
      <div class="card-header-elements ml-auto">
        <%= link_to "x", user_path(@user), data: { turbolinks: false }, :class => "btn btn-outline-primary" %>
      </div>
    </div>
    <div class="card-body">
      <div class="custom-controls-stacked condition-list">
        <% Condition.all.each do |condition| %>
          <%= form_tag({action: 'save_condition'}, method: 'put') do %>
            <label class="ui-todo-item custom-control custom-checkbox">
              <%= check_box_tag :checked, @user.conditions.exists?(id: condition.id), @user.conditions.exists?(id: condition.id), class: "custom-control-input", onchange: "saveCondition(this)"  %>
              <span class="custom-control-label"><%= condition.name %></span>
              <br>
            </label>
            <%= hidden_field_tag :condition_id, condition.id %>
          <% end %>
        <% end %>
      </div>
    <br>
  </div>
  <!-- <div class="card-footer">
    <%# form_for @new_user_condition do |f|%>
    <%# f.label :name, "Add New Condition"%>
    <div class="input-group col-4">
      <%# f.text_field :name, :placeholder => "e.g. Mental Health", class: "form-control" %>
      <div class="input-group-append">
        <%# f.submit "Add", class: "btn btn-primary" %>
      </div>
    </div>
    <%# end%>
  </div> -->
</section>
