<h4 class="my-4">1. About Me</h4>
<%= render(partial: 'profile') %>
<h4 class="my-4">2. Meds Update</h4>
<%= render(partial: 'medications') %>
<h4 class="my-4">3. Upcoming Events</h4>
<%= render(partial: 'events', locals: {legends: legends}) %>
<h4 class="my-4">4. To Discuss</h4>
<%= render(partial: 'discuss', locals: {goals: goals, events: events}) %>
<h4 class="my-4">5. My Progress</h4>
<div class="col-md-4 pr-0" style="float:right">
  <div class="card">
    <h6 class="card-header border-0">Legend</h6>
    <div class="card-body p-1">
      <ul class="legend-chart">
        <li class="default-style">
          <div class="symptom-legend" style="background-color: #41B6E6!important">
          </div>
          Normal
        </li>
        <li class="default-style">
          <div class="symptom-legend" style="background-color: #E06287!important">
          </div>
          Abnormal
        </li>
      </ul>
    </div>
  </div>
</div>
<br><br>
<%= render(partial: 'charts') %>

<h4 class="my-4">6. My Tracked Data</h4>
<%= render(partial: 'data') %>
