<h4 class="my-4">1. About Me</h4>
<%= render(partial: 'profile') %>
<h4 class="my-4">2. Meds Update</h4>
<%= render(partial: 'medications') %>
<h4 class="my-4">3. Upcoming Events</h4>
<%= render(partial: 'events', locals: {legends: legends}) %>
<h4 class="my-4">4. To Discuss</h4>
<%= render(partial: 'discuss', locals: {goals: goals, events: events}) %>
<h4 class="my-4">5. My Progress</h4>
<main id="chart-area">
  <!-- Loop through current user's self-tracking conditions -->
  <% @user_conditions.each_with_index do |condition, index| %>
  <!-- Build Graphing template -->
    <%= content_tag "section", id: "chart-area-#{index}" , class: 'chart-container' do %>
     <!-- Actions -->
     <h2><%= condition.condition_name %></h2>
    <!-- Build Data for graph -->
      <% if !condition.tracked_symptoms.empty? %>
        <!-- Chart -->
        <%# Severity scores is an array of hashes [{x,y},{x,y}] %>
        <%= content_tag "div", class: "chart", id: "chart#{index + @user_conditions.length }", data: {nodes: build_data_collection(condition, condition.unit_of_measure) }, style: "height: 250px" do %>
        <% end %>
      <% else %>
        <%= content_tag "div", class: "chart", id: "chart#{index + @user_conditions.length }", data: {nodes: [{"unit_of_measure" => condition.unit_of_measure}] }, style: "height: 250px" do %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</main>

<h4 class="my-4">6. My Tracked Data</h4>
<%= render(partial: 'data') %>
