<h4 class="my-4">1. About Me</h4>
<%= render(partial: 'profile') %>
<h4 class="my-4">2. Meds Update</h4>
<%= render(partial: 'medications') %>
<h4 class="my-4">3. Upcoming Events</h4>
<%= render(partial: 'events', locals: {legends: legends}) %>
<h4 class="my-4">4. To Discuss</h4>
<%= render(partial: 'discuss', locals: {goals: goals, events: events}) %>
<h4 class="my-4">5. My Progress</h4>
<%= render(partial: 'charts') %>
<h4 class="my-4">6. My Tracked Data</h4>
<%= render(partial: 'data') %>
