<% content_for :styles do %>
  <%= stylesheet_link_tag 'datatables/datatables.css', media: 'all' %>
<% end %>

<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_include_tag 'datatables/datatables.js' %>

  <%= javascript_include_tag 'dashboard/tables_datatables.js' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<h1>Journals</h1>
<p>Your recent journal entries.</p>

<div class="table-responsive">
  <table class="datatables-journals table table-striped table-bordered">
    <thead>
      <tr>
        <th>Journal Entry</th>
        <th>Event</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @entries.each do |entry| %>
      <tr>
        <td>
          <%= link_to entry.entry, dashboard_plan_event_path(entry.event) %>
        </td>
        <td>
          <%= link_to entry.event.name, dashboard_plan_event_path(entry.event) %>
        </td>
        <td>
          <%= entry.created_at.to_formatted_s(:long) %>
        </td>
        <td class="center">
          <%= entry.complete ? "Completed" : "Incomplete" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
