<% content_for :styles do %>
  <%= stylesheet_link_tag 'fullcalendar/fullcalendar.css', media: 'all' %>
  <%= stylesheet_link_tag 'chartist/chartist.css', media: 'all' %>
  <%= stylesheet_link_tag 'datatables/datatables.css', media: 'all' %>
<% end %>
<% content_for :scripts do %>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <%= javascript_include_tag 'fullcalendar/fullcalendar.js' %>
  <%= javascript_include_tag 'dashboard/organize/ui_fullcalendar.js' %>
  <%= javascript_include_tag "health-charts" %>
  <%= javascript_include_tag 'datatables/datatables.js' %>
  <%= javascript_include_tag 'dashboard/tables_datatables.js' %>
  <%= javascript_include_tag 'dashboard/print_pdf.js' %>
<% end %>

<h1>My Report</h1>
<%= render(partial: 'report_summary2', locals: {legends: @legends, goals: @goals, events: @events}) %>
