<% content_for :styles do %>
  <%= stylesheet_link_tag 'chartist/chartist.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<% content_for :scripts do %>
  <%= javascript_include_tag "health-charts" %>
<% end %>

<h1>My Care Planner</h1>
<div class="col-sm-8 mb-4">
  <div class="card">
    <div class="card-header">
      <div class="title-text"><i class="ion ion-md-stats text-primary"></i>&nbsp; How I'm Doing</div>
    </div>
    <div class="card-body">

      <div class="col-md-5 pr-0" style="float:right">
        <div class="card">
          <h6 class="card-header border-0">Legend</h6>
          <div class="card-body p-1">
            <ul class="legend-chart">
              <li class="default-style">
                <div class="symptom-legend" style="background-color: #41B6E6!important">
                </div>
                Normal
              </li>
              <li class="default-style">
                <div class="symptom-legend" style="background-color: #E06287!important">
                </div>
                Abnormal
              </li>
            </ul>
          </div>
        </div>
      </div>
      <%= button_to "View all symptoms", symptoms_path, method: :get, class: "btn btn-outline-primary" %>
      <%= render(partial: 'charts') %>

    </div>
  </div>
</div>

<div class="col-sm-4 mb-4">
  <div class="card">
    <div class="card-header with-elements">
      <div class="card-header-title"><i class="ion ion-md-calendar text-primary"></i>&nbsp; Keep Me Organized</div>
    </div>
    <div class="card-body">
      <p>
        <%= button_to "View Calendar", dashboard_organize_events_path, method: :get, class: "btn btn-outline-primary" %>
      </p>
      <% if @events %>
      <ol>
        <% @events.each do |event| %>
          <% if event.start %>
          <li>
            <%= link_to dashboard_organize_event_path(event) do %>
              <%= event.name %> – <%= event.start.to_formatted_s(:short_ordinal) %>
            <% end %>
          </li>
          <% end %>
        <% end %>
      </ol>
      <% else %>
        You have no events yet!
      <% end %>
    </div>
  </div>
</div>

<div class="col-sm-4 mb-4">
  <div class="card">
    <div class="card-header with-elements">
      <div class="card-header-title"><i class="ion ion-md-trophy text-primary"></i>&nbsp; Goals</div>
    </div>
    <div class="card-body">
      <p>
        <%= button_to "View Goals", dashboard_goals_path, method: :get, class: "btn btn-outline-primary" %>
      </p>
      <p class="text-center">
        Total Goals: <b><%= @goals.length %></b>
        <br>
        Completed Goals: <b><%= @goals.complete.length %></b>
        <br>
        Incomplete Goals: <b><%= @goals.incomplete.length %></b>
      </p>
    </div>
  </div>
</div>

<div class="col-sm-4 mb-4">
  <div class="card">
    <div class="card-header with-elements">
      <div class="card-header-title"><i class="ion ion-md-document text-primary"></i>&nbsp; Report Tool</div>
    </div>
    <div class="card-body">
      <p>
        <%= button_to "Create", dashboard_plan_report_path, method: :get, class: "btn btn-outline-primary" %>
      </p>
      <p class="text-center">
        Helping You Make the Most of Your Care Appointments
      </p>
    </div>
  </div>
</div>

<div class="col-sm-4 mb-4">
  <div class="card">
    <div class="card-header with-elements">
      <div class="card-header-title"><i class="ion ion-md-pint text-primary"></i>&nbsp; Medications</div>
    </div>
    <div class="card-body">
      <p>
        <%= button_to "View Medications", dashboard_organize_medications_path, method: :get, class: "btn btn-outline-primary" %>
      </p>
        <% if @medications %>
          <ol>
            <p class="text-center">
            <% @medications.each do |medication| %>
              <li>
                <%= link_to dashboard_organize_medication_path(medication) do %>
                  <%= medication.name %>
                <% end %>
              </li>
            <% end %>
            </p>
          </ol>
        <% else %>
          You have no medications recorded yet!
        <% end %>
    </div>
  </div>
</div>

<div class="col-sm-4 mb-4">
  <div class="card">
    <div class="card-header with-elements">
      <div class="card-header-title"><i class="ion ion-md-calendar text-primary"></i>&nbsp; Appointment Notes</div>
    </div>
    <div class="card-body">
      <p>
        <%= button_to "View all Entries", dashboard_organize_events_checklists_path, method: :get, class: "btn btn-outline-primary" %>
      </p>
      <% if @entries %>
      <ol>
        <% @entries.each do |entry| %>
          <li>
            <%= link_to dashboard_organize_event_path(entry.event) do %>
              <%= entry.entry %> – <%= entry.created_at.to_formatted_s(:short_ordinal) %>
            <% end %>
          </li>
        <% end %>
      </ol>
      <% else %>
        You have no entries yet!
      <% end %>
    </div>
  </div>
</div>
