<!-- Smart Wizard plugin -->
<% content_for :styles do %>
  <%= stylesheet_link_tag 'libs/smartwizard/smartwizard.css', media: 'all' %>
  <%= stylesheet_link_tag 'fullcalendar/fullcalendar.css', media: 'all' %>
  <%= stylesheet_link_tag 'chartist/chartist.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<% content_for :scripts do %>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <%= javascript_include_tag 'libs/smartwizard/smartwizard.js' %>
  <%= javascript_include_tag 'libs/validate/validate.js' %>
  <%= javascript_include_tag 'dashboard/forms_smartwizard.js' %>
  <%= javascript_include_tag 'fullcalendar/fullcalendar.js' %>
  <%= javascript_include_tag 'dashboard/organize/ui_fullcalendar.js' %>
  <%= javascript_include_tag "health-charts" %>
<% end %>

<h1>Helping You Make the Most of Your Care Appointments</h1>
<br><br>
<!-- Left -->
<div id="report">
  <ul>
    <li><a href="#report-start" class="text-nowrap mb-3">
        <span class="sw-done-icon ion ion-md-checkmark"></span>
        <span class="sw-icon ion ion-md-play"></span>
        <div class="text-muted small">GETTING</div>
        Start
      </a></li>
    <li><a href="#report-step-1" class="text-nowrap mb-3">
        <span class="sw-done-icon ion ion-md-checkmark"></span>
        <span class="sw-icon ion ion-md-person"></span>
        <div class="text-muted small">FIRST STEP</div>
        About Me
      </a></li>
    <li><a href="#report-step-2" class="text-nowrap mb-3">
        <span class="sw-done-icon ion ion-md-checkmark"></span>
        <span class="sw-icon ion ion-md-medical"></span>
        <div class="text-muted small">SECOND STEP</div>
        Meds Update
      </a></li>
    <li><a href="#report-step-3" class="text-nowrap mb-3">
        <span class="sw-done-icon ion ion-md-checkmark"></span>
        <span class="sw-icon ion ion-md-color-wand"></span>
        <div class="text-muted small">THIRD STEP</div>
        Upcoming
      </a></li>
    <li><a href="#report-step-4" class="text-nowrap mb-3">
        <span class="sw-done-icon ion ion-md-checkmark"></span>
        <span class="sw-icon ion ion-md-chatbubbles"></span>
        <div class="text-muted small">FOURTH STEP</div>
        To Discuss
      </a></li>
    <li><a href="#report-step-5" class="text-nowrap mb-3">
        <span class="sw-done-icon ion ion-md-checkmark"></span>
        <span class="sw-icon ion ion-md-trending-up"></span>
        <div class="text-muted small">FIFTH STEP</div>
        My Progress
      </a></li>
    <li><a href="#report-step-6" class="text-nowrap mb-3">
        <span class="sw-done-icon ion ion-md-checkmark"></span>
        <span class="sw-icon ion ion-md-analytics"></span>
        <div class="text-muted small">SIXTH STEP</div>
        My Tracked Data
      </a></li>
    <li><a href="#report-summary" class="text-nowrap mb-3">
        <span class="sw-done-icon ion ion-md-checkmark"></span>
        <span class="sw-icon ion ion-md-apps"></span>
        <div class="text-muted small">FINISH</div>
        Summary
      </a></li>
  </ul>

  <div class="mb-3">
    <div id="report-start" class="card animated fadeIn mb-3">
      <div class="card-body">
        <h3>Getting Started</h3>
        <p>
          Brief content providing purpose and utility of preparing materials and summaries for your care appointment, pointing out that the care provider is going to ask for this stuff anyways, and having it succintly summarized and ready means that you get to spend more of your precious appointment time focussing on the things that matter to YOU.
        </p>
      </div>
    </div>
    <div id="report-step-1" class="card animated fadeIn mb-3">
      <div class="card-body">
        <h3>1. Profile</h3>
        <%= render(partial: 'profile') %>
      </div>
    </div>
    <div id="report-step-2" class="card animated fadeIn mb-3">
      <div class="card-body">
        <h3>2. My Medications</h3>
        <p>This information is taken from your Medications List page, and we've highlighted anything you added within the past three months. Please take a moment to make sure it is up to date.</p>

        <%= render(partial: 'medications') %>

      </div>
    </div>
    <div id="report-step-3" class="card animated fadeIn mb-3">
      <div class="card-body">
        <h3>3. Upcoming Events</h3>
        <p>The information below is from your Upcoming Appointments and activities and Keep Me Organized page.</p>

          <%= render(partial: 'events', locals:{legends: @legends}) %>

      </div>
    </div>
    <div id="report-step-4" class="card animated fadeIn mb-3">
      <div class="card-body">
        <h3>4. To Discuss</h3>
        <p>
        These items are from your Tracking, Goal Centre, and Appointment Checklist pages. Please review them and decide which items you would like to prioritize for this appointment.
        </p>

        <%= render(partial: 'discuss', locals: {goals: @goals, events: @events}) %>

      </div>

    </div>
    <div id="report-step-5" class="card animated fadeIn mb-3">
      <div class="card-body">
        <h3>5. My Progress</h3>
        <p>This information is from your Tracking Insights page. It provides an overview of the things you're tracking and could help your provider fine tune your care needs.</p>

        <%= render(partial: 'charts') %>

      </div>
    </div>
    <div id="report-step-6" class="card animated fadeIn mb-3">
      <div class="card-body">
        <h3>6. My Tracked Data</h3>
        <p>Sometimes providers are used to seeing the raw data, so you might want to include some of that in your report too. This information is from your tracking data. Review what you've been tracking and decide what (if anything) you'd like to share with your provider.</p>

        <%= render(partial: 'data') %>

      </div>
    </div>
    <div id="report-summary" class="card animated fadeIn mb-3">
      <div class="card-body">
        <h3>Report summary</h3>
        <p>Here's a summary of everything you want to include in your report for your provider. Take a moment to scan it and make sure it has everything you want in it. When you're ready, click "Create the Report" and we'll turn it into a PDF for you to print, save, or email to your provider.</p>

        <%= render(partial: 'report_summary', locals: {legends: @legends, goals: @goals, events: @events}) %>

      </div>
    </div>
  </div>
</div>
