  <!--Header-Area-->
  <header class="blue-bg relative fix" id="home">
      <div class="section-bg overlay-bg angle-bg ripple ">
          <div id="home-parallax-image">
            <%= image_tag("header-bg2.jpg", class: "offset-bg")  %>
          </div>
      </div>

      <div class="space-100"></div>
      <div class="space-20 hidden-xs"></div>
      <!--Header-Text-->
      <div class="container text-white">
          <div class="row text-center">
              <div class="col-xs-12 col-sm-10 col-md-12">
                  <div class="space-40"></div>
                  <div class="space-100"></div>
                  <h1>Helping you navigate your chronic care journey</h1>
                  <div class="space-20"></div>
                  <!-- search bar -->
                  <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <form id="mc-form" class="subscrie-form">
                        <label class="mt10" for="mc-email"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="What can we help you find today?">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-info">
                                  <span class="ti-search"></span>
                                  Search</button>
                            </div>
                        </div>
                    </form>
                  </div>

                  <div class="space-100"></div>
                  <div class="space-100"></div>
              </div>
          </div>
          <div class="space-80"></div>
      </div>
      <!--Header-Text/-->
  </header>
  <!--Header-Area/-->
  <section>
      <div class="space-60"></div>
      <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                <h3>Sign up today for FREE access to personalized supports</h3>
            </div>
        </div>
          <div class="row">
              <div class="space-60"></div>
              <div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                  <div id="tinted-image1" class="well well-hover text-center">
                      <%= link_to plan_path do %>
                      <p class="md-icon"><span class="ti-agenda" style="color: #B580D1"></span></p>
                      <% end %>
                      <div class="space-10"></div>
                      <h5 class="text-uppercase">
                        <%= link_to "Helping you organize your care needs", plan_path %>
                      </h5>
                      <p>Lorem ipsum dolor sit amt, sed do eiusmod tepo raraincididunt ugt labore.</p>
                  </div>
              </div>
              <div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                  <div id="tinted-image2" class="well well-hover text-center">
                      <%= link_to track_path do %>
                      <p class="md-icon"><span class="ti-target" style="color: #41B6E6"></span></p>
                      <% end %>
                      <div class="space-10"></div>
                      <h5 class="text-uppercase">
                        <%= link_to "Things I'm tracking", track_path %>
                      </h5>
                      <p>Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod tepo raraincididunt ugt labore.</p>
                  </div>
              </div>
              <div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                  <div id="tinted-image3" class="well well-hover text-center">
                      <%= link_to goal_centre_path do %>
                      <p class="md-icon"><span class="ti-cup" style="color: #E06287"></span></p>
                      <% end %>
                      <div class="space-10"></div>
                      <h5 class="text-uppercase">
                      <%= link_to "Set and Manage your goals", goal_centre_path %>
                      </h5>
                      <p>Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod tepo raraincididunt ugt labore.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="space-80"></div>
  </section>
  <!--Work-Section-->
  <section class="gray-bg" id="work">
      <div class="space-80"></div>
      <div class="container">
          <div class="row wow fadeInUp">
              <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                  <h3 class="text-uppercase">How it works?</h3>
                  <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet.</p>
              </div>
          </div>
          <div class="space-60"></div>
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.2s">
                  <div class="hover-shadow">
                      <div class="space-60">
                          <%= image_tag ("icon/icon1.png") %>
                      </div>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">Login First</h5>
                      <p>Lorem ipsum dolor sit ameteped consecteadop adipisicing elitab sed eiusmod temporara incident</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.4s">
                  <div class="hover-shadow">
                      <div class="space-60">
                          <%= image_tag("icon/icon2.png") %>
                      </div>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">DATA ANALYSIS</h5>
                      <p>Lorem ipsum dolor sit ameteped consecteadop adipisicing elitab sed eiusmod temporara incident</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.6s">
                  <div class="hover-shadow">
                      <div class="space-60">
                          <%= image_tag("icon/icon3.png") %>
                      </div>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">Face Testing</h5>
                      <p>Lorem ipsum dolor sit ameteped consecteadop adipisicing elitab sed eiusmod temporara incident</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.8s">
                  <div class="hover-shadow">
                      <div class="space-60">
                          <%= image_tag("icon/icon4.png") %>
                      </div>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">SHOW RESULT</h5>
                      <p>Lorem ipsum dolor sit ameteped consecteadop adipisicing elitab sed eiusmod temporara incident</p>
                  </div>
              </div>
          </div>
          <div class="space-60"></div>
          <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2 text-center wow fadeInUp">
                  <div class="down-offset ">
                      <%= image_tag("mobile1.png") %>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--Work-Section/-->
  <!--Feature-Section-->
  <section class="fix">
      <div class="space-60"></div>
      <div class="container" id="feature">
          <div class="space-100"></div>
          <div class="row wow fadeInUp">
              <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                  <h3 class="text-uppercase">Special Features</h3>
                  <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet.</p>
              </div>
          </div>
          <div class="space-60"></div>
          <div class="row feature-area">
              <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInLeft">
                  <div class="space-30"></div>
                  <a href="#feature1" data-toggle="tab">
                      <div class="media single-feature">
                          <div class="media-body text-right">
                              <h5>Creative Design</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                          </div>
                          <div class="media-right">
                              <div class="border-icon">
                                  <span class="ti-light-bulb"></span>
                              </div>
                          </div>
                      </div>
                  </a>
                  <div class="space-30"></div>
                  <a href="#feature2" data-toggle="tab">
                      <div class="media single-feature">
                          <div class="media-body text-right">
                              <h5>UNLIMITED FEATURES</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                          </div>
                          <div class="media-right">
                              <div class="border-icon">
                                  <span class="ti-cup"></span>
                              </div>
                          </div>
                      </div>
                  </a>
                  <div class="space-30"></div>
                  <a href="#feature3" data-toggle="tab">
                      <div class="media single-feature">
                          <div class="media-body text-right">
                              <h5>FULL FREE CHAT</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                          </div>
                          <div class="media-right">
                              <div class="border-icon">
                                  <span class="ti-comments"></span>
                              </div>
                          </div>
                      </div>
                  </a>
                  <div class="space-30"></div>
              </div>
              <div class="hidden-xs hidden-sm col-md-4 text-center fix wow fadeIn">
                  <div class="down-offset relative ">
                      <%= image_tag "mobile2.png" %>
                      <div class="screen_image tab-content">
                          <div id="feature1" class="tab-pane fade in active">
                              <%= image_tag "feature/1.jpg" %>
                          </div>
                          <div id="feature2" class="tab-pane fade">
                              <%= image_tag "feature/6.jpg" %>
                          </div>
                          <div id="feature3" class="tab-pane fade">
                              <%= image_tag "feature/3.jpg" %>
                          </div>
                          <div id="feature4" class="tab-pane fade">
                              <%= image_tag "feature/4.jpg" %>
                          </div>
                          <div id="feature5" class="tab-pane fade">
                              <%= image_tag "feature/5.jpg" %>
                          </div>
                          <div id="feature6" class="tab-pane fade">
                              <%= image_tag "feature/2.jpg" %>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInRight">
                  <div class="space-30"></div>
                  <a href="#feature4" data-toggle="tab">
                      <div class="media single-feature">
                          <div class="media-left">
                              <div class="border-icon">
                                  <span class="ti-eye"></span>
                              </div>
                          </div>
                          <div class="media-body">
                              <h5>Retina ready</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                          </div>
                      </div>
                  </a>
                  <div class="space-30"></div>
                  <a href="#feature5" data-toggle="tab">
                      <div class="media single-feature">
                          <div class="media-left">
                              <div class="border-icon">
                                  <span class="ti-shine"></span>
                              </div>
                          </div>
                          <div class="media-body">
                              <h5>HIGH RESOLUTION</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                          </div>
                      </div>
                  </a>
                  <div class="space-30"></div>
                  <a href="#feature6" data-toggle="tab">
                      <div class="media single-feature">
                          <div class="media-left">
                              <div class="border-icon">
                                  <span class="ti-layout-slider"></span>
                              </div>
                          </div>
                          <div class="media-body">
                              <h5>CLEAN CODES</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididugnt ut labore</p>
                          </div>
                      </div>
                  </a>
                  <div class="space-30"></div>
              </div>
          </div>
      </div>
  </section>
  <!--Feature-Section-->
  <!--Video-Section-->
  <section class="section-video relative fix">
      <div class="section-bg overlay-bg alpha">
      </div>
      <video class="ivideo" id="cvideo">
          <source src="http://intimissibd.com/video/background-video.webm" type="video/webm">
      </video>
      <div class="section-video-text text-center">
          <button type="button" id="vbutton" class="video-button"><span class="ti-control-play"></span></button>
          <div class="space-50"></div>
          <h2 class="text-white">Watch Video Demo</h2>
      </div>
  </section>
  <!--Video-Section/-->
  <!--Screenshot-Section-->
  <section>
      <div class="space-80"></div>
      <div class="container">
          <div class="row wow fadeInUp">
              <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                  <h3 class="text-uppercase">A peek at your care compass</h3>
                  <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet.</p>
              </div>
          </div>
          <div class="space-60"></div>
          <div class="row wow fadeIn">
              <div class="col-xs-12">
                  <div class="space-60"></div>
                  <div class="list_screen_slide">
                      <div class="item">
                          <a href="images/screen/screen1.jpg" class="work-popup">
                              <%= image_tag "screen/screen1.jpg" %>
                          </a>
                      </div>
                      <div class="item">
                          <a href="images/screen/screen2.jpg" class="work-popup">
                              <%= image_tag "screen/screen2.jpg" %>
                          </a>
                      </div>
                      <div class="item">
                          <a href="images/screen/screen3.jpg" class="work-popup">
                              <%= image_tag "screen/screen3.jpg" %>
                          </a>
                      </div>
                      <div class="item">
                          <a href="images/screen/screen4.jpg" class="work-popup">
                              <%= image_tag "screen/screen4.jpg" %>
                          </a>
                      </div>
                      <div class="item">
                          <a href="images/screen/screen5.jpg" class="work-popup">
                              <%= image_tag "screen/screen5.jpg" %>
                          </a>
                      </div>
                      <div class="item">
                          <a href="images/screen/screen1.jpg" class="work-popup">
                              <%= image_tag "screen/screen1.jpg" %>
                          </a>
                      </div>
                      <div class="item">
                          <a href="images/screen/screen2.jpg" class="work-popup">
                              <%= image_tag "screen/screen2.jpg" %>
                          </a>
                      </div>
                      <div class="item">
                          <a href="images/screen/screen3.jpg" class="work-popup">
                              <%= image_tag "screen/screen3.jpg" %>
                          </a>
                      </div>
                      <div class="item">
                          <a href="images/screen/screen4.jpg" class="work-popup">
                              <%= image_tag "screen/screen4.jpg" %>
                          </a>
                      </div>
                  </div>
                  <div class="space-40"></div>
              </div>
          </div>
      </div>
      <div class="space-80"></div>
  </section>
  <!--Screenshot-Section/-->
