  <!--Header-Area-->

  <header class="blue-bg relative fix" id="home">
      <div class="section-bg overlay-bg angle-bg ripple ">
          <div id="home-parallax-image">
            <%= image_tag("header-bg2.jpg", class: "offset-bg")  %>
          </div>
      </div>

      <div class="space-100"></div>
      <div class="space-20 hidden-xs"></div>
      <!--Header-Text-->
      <div class="container text-white">
          <div class="row text-center">
              <div class="col-xs-12 col-sm-10 col-md-12">
                  <div class="space-40"></div>
                  <div class="space-100 d-sm-none"></div>
                  <h1>Helping you navigate your chronic care journey</h1>
                  <div class="space-20"></div>
                  <!-- search bar -->
                  <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <%= form_tag(article_search_path, method: :get, class: 'subscrie-form') do %>
                      <%= label_tag "search", '', class: 'mt10' %>
                        <div class="input-group">
                          <%= text_field_tag :search, params[:search], placeholder: "What can we help you find today?", class: "form-control" %>
                          <div class="input-group-btn">
                            <%= button_tag(type: "submit", class: "btn btn-info", name: nil) do %>
                              <span class="ti-search"></span> Search
                            <% end %>
                          </div>
                        </div>
                    <% end %>
                  </div>

                  <div class="space-100"></div>
                  <div class="space-100 d-sm-none"></div>
              </div>
          </div>
          <div class="space-80"></div>
      </div>
      <!--Header-Text/-->
  </header>
  <!--Header-Area/-->
  <section>
      <div class="space-60"></div>
      <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                <h3 class="text-uppercase">How it Works</h3>
            </div>
        </div>
          <div class="row">
              <div class="space-40"></div>
              <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                <%= image_tag ("home/home-organize.jpg") %>
                  <div class="well well-hover text-center how-it-works">
                      <% if user_signed_in? %>
                        <%= link_to dashboard_plan_path do %>
                        <p class="md-icon"><span class="ti-agenda organize"></span></p>
                        <% end %>
                      <% else %>
                        <%= link_to plan_path do %>
                        <p class="md-icon"><span class="ti-agenda organize"></span></p>
                        <% end %>
                      <% end %>
                      <!-- <div class="space-10"></div> -->
                      <h5>
                        <% if user_signed_in? %>
                          <%= link_to "Helping you organize your care needs", dashboard_plan_path, class: 'organize' %>
                        <% else %>
                          <%= link_to "Helping you organize your care needs", plan_path, class: 'organize'%>
                        <% end %>
                      </h5>
                      <p>Keeping track of all your appointments, medications, and relevant information should be easier. Our tools can help you stay organized.</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
                <%= image_tag ("home/home-tracking.jpg") %>
                  <div class="well well-hover text-center how-it-works">
                      <% if user_signed_in? %>
                        <%= link_to symptoms_path do %>
                        <p class="md-icon"><span class="ti-target track"></span></p>
                        <% end %>
                      <% else %>
                        <%= link_to track_path do %>
                        <p class="md-icon"><span class="ti-target  track"></span></p>
                        <% end %>
                      <% end %>
                      <!-- <div class="space-10"></div> -->
                      <h5>
                        <% if user_signed_in? %>
                          <%= link_to "Helping you track what matters to you", symptoms_path, class: 'track' %>
                        <% else %>
                          <%= link_to "Helping you track what matters to you", track_path, class: 'track' %>
                        <% end %>
                      </h5>
                      <p>A big part of managing your day-to-day chronic care needs is self-tracking. Our visualizations of your data might provide new insight into making those days the best they can be within your context.</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                <%= image_tag ("home/home-goals.jpg") %>
                  <div class="well well-hover text-center how-it-works">
                      <% if user_signed_in? %>
                        <%= link_to dashboard_goals_path do %>
                        <p class="md-icon"><span class="ti-cup goals"></span></p>
                        <% end %>
                      <% else %>
                        <%= link_to goal_centre_path do %>
                        <p class="md-icon"><span class="ti-cup goals"></span></p>
                        <% end %>
                      <% end %>
                      <!-- <div class="space-10"></div> -->
                      <h5>
                        <% if user_signed_in? %>
                          <%= link_to "Helping you set and manage your goals", dashboard_goals_path, class: 'goals' %>
                        <% else %>
                          <%= link_to "Helping you set and manage your goals", goal_centre_path, class: 'goals' %>
                        <% end %>
                      </h5>
                      <p>Setting SMART goals is a great way to successfully get to where you want to be. We’ve put together a guided step-by-step guides to help you reach your goals.</p>
                  </div>
              </div>
          </div>
          <div class="row wow fadeInUp">
            <div class="well well-lg col-md-8 col-md-offset-2">
              <h3 class="text-center" style="line-height: 1.8">
                <%= link_to "Sign up today", new_user_registration_path %> for FREE access to these<br>personalized tools to help you on your care journey.
              </h3>
            </div>
          </div>
      </div>
      <div class="space-60"></div>
  </section>
  <!--Work-Section-->
  <section class="gray-bg" id="work">
      <div class="space-80"></div>
      <div class="container">
          <div class="row wow fadeInUp">
              <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                  <h3 class="text-uppercase">This Platform is Different</h3>
                  <p>Sure, there are a lot of tools, apps, and even electronic health records out there already. This platform is different. Continue reading below to find out how.</p>
              </div>
          </div>
          <div class="space-60"></div>
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.8s">
                  <div class="hover-shadow feat">
                      <div class="space-60">
                          <%= image_tag("icon/icon4.png") %>
                      </div>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">Our Vision</h5>
                      <p>Our vision is for these tools to become part of a seamless ecosystem where you and your care providers can work together to make living with chronic care needs easier for all you and everyone who helps you on that journey.</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.2s">
                  <div class="hover-shadow feat">
                      <div class="space-60">
                          <%= image_tag ("icon/icon5.png") %>
                      </div>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">We Talked to Patients Like You</h5>
                      <p>We listened to groups of patients with (sometimes multiple) chronic conditions to find out what challenges and issues they deal with on a day-to-day basis.</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.4s">
                  <div class="hover-shadow feat">
                      <div class="space-60">
                          <%= image_tag("icon/icon1.png") %>
                      </div>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">We Met with Care Providers</h5>
                      <p>We also talked to health care providers to understand their perspectives on those same challenges and issues.</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.6s">
                  <div class="hover-shadow feat">
                      <div class="space-60">
                          <%= image_tag("icon/icon2.png") %>
                      </div>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">We Worked with Designers and Developers</h5>
                      <p>Together with a group of forward-thinking Canadian developers, we’re building a suite of tools and supports to make your job easier.</p>
                  </div>
              </div>

          </div>
          <div class="space-80"></div>
          <div class="row">
              <div class="col-xs-12 text-center wow fadeInUp">
                  <div class="up-offset ">
                      <%= image_tag("home-feat1.jpg") %>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--Work-Section/-->
