<!--Header-Area-->
<header class="blue-bg relative fix" id="home">
  <div class="section-bg overlay-bg ripple ">
    <div class="parallax-image">
      <%= image_tag("learn-bg.jpg")  %>
    </div>
  </div>

  <!--Mainmenu/-->
  <div class="space-100"></div>
  <div class="space-20 hidden-xs"></div>
  <!--Header-Text-->
  <div class="container text-white">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="space-60"></div>
        <%= image_tag("icon/learn.png") %>
        <h1>Learning Opportunities</h1>
        <div class="space-40"></div>
        <p style="text-shadow: 1px 1px 2px #303030,0 0 1em #41B6E6;">The more you know about your chronic care needs, the better equipped you are to take care of yourself and to make decisions about your care journey. My Health Alberta has a huge library of quality information and resources to help you learn about your care needs. We’ve selected a handful of what’s there (and elsewhere on the Web) to help you get started.</p>
      </div>
    </div>
    <div class="space-80"></div>
  </div>
  <!--Header-Text/-->
</header>

<section id="blog">
  <div class="space-40"></div>
  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
        <h3 class="text-uppercase">KNOW YOUR HEALTH</h3>
        <div class="space-20"></div>
        <p>Helping you help yourself on your care journey.</p>
      </div>
    </div>

    <section class="row">
      <%= form_tag url_for(:controller => 'resources', :action => 'search_results'), :method => "get" do %>
        <div class="input-group col-sm-10 col-md-offset-1">
            <%= text_field_tag :search, params[:search], placeholder: "What can we help you find today? (Search by name, keywords, condition, tags, etc)", class: "form-control resources__search-bar" %>
            <div class="input-group-btn">
              <%= submit_tag "Search", class: "btn btn-info" %>
            </div>
        </div>
      <% end %>
      <!-- <div class="col-sm-10 resources__search-bar-container">
              <input class="resources__search-bar"type="text" name="search" placeholder="What can we help you find today? (Search by name, keywords, condition, tags, etc)">
            </div>
            <div class="col-sm-1">
              <button type="button">

              </button>
            </div> -->
      <!-- <div class="space-40"></div> -->
    </section>

    <div class="space-60"></div>
    <!-- Section -->
    <% @internal_resources.each_slice(3) do |articles| %>
      <div class="row">
        <% articles.each do |article|%>
            <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="panel text-center single-blog">
                <div class="padding-20">
                  <ul class="list-unstyled list-inline">
                    <li><span class="ti-user"></span> By: Admin</li>
                    <li><span class="ti-calendar"></span> <%= article.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y") %></li>
                  </ul>
                  <div class="space-10"></div>
                  <%= link_to article_url(article) do %>
                    <h4><%= article.title%></h4>
                  <% end %>
                  <div class="space-15"></div>
                  <p><%= article.description %></p>
                  <div class="space-20"></div>
                  <%= link_to "Read More", article_url(article), class: "btn btn-link" %>
                  <div class="space-20"></div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>


  </div>
</section>
<!--Blog-Section/-->
