<% content_for :styles do %>
<%= stylesheet_link_tag 'typeahead-js/typeahead.css', media: 'all' %>
<% end %>

<% content_for :scripts do %>
<!-- Dependencies -->
<%= javascript_include_tag 'typeahead-js/typeahead.js' %>
<%= javascript_include_tag 'dashboard/forms_typeahead.js' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<% if medication.errors.any? %>
  <div id="error_explanation">
    <h5><%= pluralize(medication.errors.count, "error") %> prohibited this medication from being saved:</h5>

    <ul>
    <% medication.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<input type="submit" name="prevent-enter-submit" onclick="return false;" hidden>

<div class="card mb-4">
  <div class="card-header">
    <div class="title-text"><i class="ion ion-md-medical text-primary"></i>&nbsp; Medication Information</div>
  </div>
  <div class="card-body">
    <%= f.hidden_field "mednames", id:"med-names", value: medications, disabled:true %>

    <div class="form-group col-md-12">
      <%= f.label :name, "Enter your medication name", class: "form-label" %>
      <%= f.text_field :name, id: "typeahead-input", class: "form-control", autocomplete: "off", placeholder: "E.g.,Levothyroxine" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :link, "Link url", class: "form-label" %>
      <%= f.text_field :link, class: "form-control", placeholder: "http://", value: "http://" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :strength, "Strength of medication", class: "form-label" %>
      <%= f.text_field :strength, class: "form-control", placeholder: "E.g.,110 mcg" %>
    </div>

    <div class="form-group col-md-12">
      <%= f.label :description, "Description of medication", class: "form-label" %>
      <%= f.text_field :description, class: "form-control", placeholder: "E.g.,Pink oblong tablet" %>
    </div>

    <div class="form-group col-md-12">
      <%= f.label :instruction, "How to take the medication", class: "form-label" %>
      <%= f.text_field :instruction, class: "form-control", placeholder: "E.g.,1 tablet by mouth every day" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :condition_cure, "What is the medication for?", class: "form-label" %>
      <%= f.text_field :condition_cure, class: "form-control", placeholder: "E.g.,Thyroid" %>
    </div>

    <!-- Tracked Medications -->
    <%= f.fields_for :tracked_medications, @tracked_medication do |tracked_medication| %>
    <!-- <div class="col-md-12"> -->
      <%= render 'medication_fields', f: tracked_medication %>
    <!-- </div> -->
    <% end %>

    <div class="form-group col-md-12">
      <%= f.submit "Submit", class:"btn btn-primary" %>
    </div>

  </div>
</div>
