<h3>1. Be Specific</h3>
<p><%= goal.specific_1 %></p>
<p><%= goal.specific_2 %></p>
<p><%= goal.specific_3 %></p>
<p><%= goal.specific_4 %></p>

<h3>2. Make it Measurable</h3>
<p><%= goal.measurable_1 %></p>
<p><%= goal.measurable_2 %></p>
<p><%= goal.measurable_3 %></p>
<p><%= goal.measurable_4 %></p>

<h3>3. Make it Attainable</h3>
<p><%= goal.attainable_1 %></p>
<p><%= goal.attainable_2 %></p>
<p><%= goal.attainable_3 %></p>
<p><%= goal.attainable_4 %></p>

<h3>4. Make it Rewarding</h3>
<p><%= goal.rewarding_1 %></p>
<p><%= goal.rewarding_2 %></p>
<p><%= goal.rewarding_3 %></p>
<p><%= goal.rewarding_4 %></p>

<h3>5. Keep it Timely</h3>
<p><%= goal.timely_1 %></p>
<p><%= goal.timely_2 %></p>
