<h1>My Goal Centre</h1>
<p>
  Logged in page under dashboard
</p>
<!-- current Goals -->
<div class="col-lg-8">
  <div class="card mb-4">
    <div class="card-header">
      <div class="title-text">Current Goals</div>
    </div>
    <div class="card-body text-center ">
      <p>
        <% if @goals.blank? %>
          <br>You have no current goals!<br><br>
        <% end %>
        <ol>
        <% @goals.each do |goal| %>
            <li>
              <%= link_to dashboard_goal_path(goal) do %>
                <%= goal.specific_1%> – <%= goal.created_at.to_formatted_s(:long)  %>
              <% end %>
            </li>
        <% end %>
        </ol>
      </p>
      <%= button_to "Add a new goal", new_dashboard_goal_path, method: :get, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>
<!-- Upcoming Milestones/Targets -->
<div class="col-lg-4">
  <div class="card mb-4">
    <div class="card-header">
      <div class="title-text">Upcoming Milestones/Targets</div>
    </div>
    <div class="card-body">
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <div class="title-text">Complete Goals</div>
    </div>
    <div class="card-body">
      <ol>
      <% @complete_goals.each do |goal| %>
          <li>
            <%= link_to dashboard_goal_path(goal) do %>
              <%= goal.specific_1%> - <%= goal.created_at.to_formatted_s(:long)  %>
            <% end %>
          </li>
      <% end %>
      </ol>
    </div>
  </div>
</div>

<!-- Row 2 -->
<div class="col-lg-8">
  <div class="card mb-4">
    <div class="card-header">
      <div class="title-text">details?</div>
    </div>
    <div class="card-body">
    </div>
  </div>
</div>
<!-- Guides and Supports -->
<div class="col-lg-4">
  <div class="card mb-4">
    <div class="card-header">
      <div class="title-text">Guides and Supports</div>
    </div>
    <div class="card-body">
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <div class="title-text">Imports</div>
    </div>
    <div class="card-body">
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <div class="title-text">More Resources</div>
    </div>
    <div class="card-body">
    </div>
  </div>
</div>
