<!-- Smart Wizard plugin -->
<%= stylesheet_link_tag 'libs/smartwizard/smartwizard.css', media: 'all', 'data-turbolinks-track': 'reload'%>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<%= javascript_include_tag 'libs/smartwizard/smartwizard.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'libs/validate/validate.js', 'data-turbolinks-track': 'reload' %>

<h1>Setting SMART Goals</h1>
  <%= form_for @goal, url: new_dashboard_goal_path(@goal), html: {id: "smartgoal"} do |g| %>
    <ul class="card px-4 pt-3 mb-3">
      <li>
        <a href="#smartgoal-step-0" class="mb-3">
          <span class="sw-done-icon ion ion-md-checkmark"></span>
          <span class="sw-icon ion ion-ios-play"></span>
          <div class="text-muted small">Getting Started</div>
          Start
        </a>
      </li>
      <li>
        <a href="#smartgoal-step-1" class="mb-3">
          <span class="sw-done-icon ion ion-md-checkmark"></span>
          <span class="sw-number">1</span>
          <div class="text-muted small">FIRST STEP</div>
          Specific
        </a>
      </li>
      <li>
        <a href="#smartgoal-step-2" class="mb-3">
          <span class="sw-done-icon ion ion-md-checkmark"></span>
          <span class="sw-number">2</span>
          <div class="text-muted small">SECOND STEP</div>
          Measurable
        </a>
      </li>
      <li>
        <a href="#smartgoal-step-3" class="mb-3">
          <span class="sw-done-icon ion ion-md-checkmark"></span>
          <span class="sw-number">3</span>
          <div class="text-muted small">THIRD STEP</div>
          Attainable
        </a>
      </li>
      <li>
        <a href="#smartgoal-step-4" class="mb-3">
          <span class="sw-done-icon ion ion-md-checkmark"></span>
          <span class="sw-number">4</span>
          <div class="text-muted small">FOURTH STEP</div>
          Rewarding
        </a>
      </li>
      <li>
        <a href="#smartgoal-step-5" class="mb-3">
          <span class="sw-done-icon ion ion-md-checkmark"></span>
          <span class="sw-number">5</span>
          <div class="text-muted small">FIFTH STEP</div>
          Timely
        </a>
      </li>
    </ul>

    <div class="mb-3">
      <!-- Start - set goal content -->
      <div id="smartgoal-step-0" class="card animated fadeIn">
        <div class="card-body">
          <div class="col-sm-12 col-md-8">
            <p>
              Based on Alberta Health Services "Setting SMART Goals" document
            </p>
            <p>
              Includes a video...
            </p>
          </div>
          <div class="card bg-info col-sm-12 col-md-4 mb-4 p-4">
            <h3 class="text-white">SMART Goals Guide</h3>
            Goal setting is an important step that you can take to help yourself. No Matter what you want to achieve as part of your health journey, this guide is intended to help you set SMART goals - goals that are specific, measureable, attainable, rewarding, and timely, so that your chances of success are best supported. To learn more about setting SMART goals, visit .... (Information and guide based on Alberta Health Services "SMART Goal Setting" guide.)
          </div>
        </div>
      </div>

      <!-- 1. Be Specific -->
      <div id="smartgoal-step-1" class="card animated fadeIn">
        <div class="card-body">
          <div class="col-sm-12 col-md-8 pr-5">
            <h3>Be Specific</h3>

            <div class="form-group">
              <%= g.label :specific_1, "What do you want to achieve?" %>
              <span class="text-danger">*</span>
              <%= g.text_field :specific_1,
                  class: "form-control required",
                  required: true
              %>
            </div>
            <div class="form-group">
              <%= g.label :specific_2, "How will you do this?" %>
              <span class="text-danger">*</span>
              <%= g.text_field :specific_2,
                  class: "form-control required",
                  required: true
              %>
            </div>
            <div class="form-group">
              <%= g.label :specific_3, "When will you do this?" %>
              <span class="text-danger">*</span>
              <%= g.text_field :specific_3,
                  class: "form-control required",
                  required: true
              %>
            </div>
            <div class="form-group">
              <%= g.label :specific_4, "Where will you do this?" %>
              <span class="text-danger">*</span>
              <%= g.text_field :specific_4,
                  class: "form-control required",
                  required: true
              %>
            </div>

          </div>
          <div class="card bg-info col-sm-12 col-md-4 mb-4 p-4">
            <h3 class="text-white">SMART Goals Guide</h3>
            <p>
              Let's start with being specific. Goals that are written clearly are easier to focus on, act on, and follow.
            </p>
            <p>
              As an example to help get you started:
            </p>
            <p>
              <b>WHAT:</b> I will eat 7 servings of vegetables and fruit each day.
            </p>
            <p>
              <b>HOW:</b> Eat one piece of fruit at breakfast, 10am, and 4pm (3 servings total). I will eat 1 cup of vegetables at lunch and 1 cup at dinner (total 4 servings).
            </p>
            <p>
              <b>WHEN:</b> At meal and snack times, as specified above.
            </p>
          </div>
        </div>
      </div>

      <!-- 2. Make it Measurable -->
      <div id="smartgoal-step-2" class="card animated fadeIn">
        <div class="card-body">
          <h3>Make it Measurable</h3>
        </div>
      </div>
      <div id="smartgoal-step-3" class="card animated fadeIn">
        <div class="card-body">
          Step Content 3
        </div>
      </div>
      <div id="smartgoal-step-4" class="card animated fadeIn">
        <div class="card-body">
          Step Content 4
        </div>
      </div>
      <div id="smartgoal-step-5" class="card animated fadeIn">
        <div class="card-body">
          Step Content 5
        </div>
      </div>
    </div>
  <% end %>

<!-- Javascript -->
<script>
  $(function() {
    var form = $('#smartgoal');
    var btnFinish = $('<button class="btn-finish btn btn-primary hidden mr-2" type="submit">Finish</button>');

    // Set up validator
    form.validate({
      errorPlacement: function errorPlacement(error, element) {
        $(element).parents('.form-group').append(
          error.addClass('invalid-feedback small d-block')
        )
      },
      highlight: function(element) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function(element) {
        $(element).removeClass('is-invalid');
      }
    });

    form.smartWizard({
      autoAdjustHeight: false,
      backButtonSupport: false,
      useURLhash: false,
      showStepURLhash: true,
      toolbarSettings: {
        toolbarExtraButtons: [btnFinish]
      }
    })
    .on('leaveStep', function(e, anchorObject, stepNumber, stepDirection) {
        // stepDirection === 'forward' :- this condition allows to do the form validation
        // only on forward navigation, that makes easy navigation on backwards still do the validation when going next
        if (stepDirection === 'forward'){ return form.valid(); }
        return true;
    })
    .on('showStep', function(e, anchorObject, stepNumber, stepDirection) {
        var btn = form.find('.btn-finish');

        // Enable finish button only on last step
        if (stepNumber === 5) {
          btn.removeClass('hidden');
        } else {
          btn.addClass('hidden');
        }
    })

    // Click on finish button
    form.find('.btn-finish').on('click', function(){
      if (!form.valid()){ return; }

      // Submit form
      alert("Great! We're ready to submit form.");
      return false;
    });
  });
</script>
<!-- / Javascript -->
