<!-- Layout sidenav -->
<div id="layout-sidenav" class="<% if local_assigns[:horizontal] == true %>layout-sidenav-horizontal sidenav-horizontal container-p-x flex-grow-0<% else %>layout-sidenav sidenav-vertical<% end %> sidenav bg-sidenav-theme">

  <!-- Inner -->
  <ul class="sidenav-inner<% if local_assigns[:horizontal] != true %> py-1<% end %>">

    <li class="sidenav-item">
      <%= link_to root_path, class: "sidenav-link" do %>
        <i class="sidenav-icon ion ion-ios-contact"></i><div>Home</div>
      <% end %>
    </li>

    <li class="sidenav-item">
      <%= link_to plan_path, class: "sidenav-link" do %>
        <i class="sidenav-icon ion ion-md-desktop"></i><div>Plan</div>
      <% end %>
    </li>
    <!-- Top-level -->
    <li class="sidenav-item">
      <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
          <div>Medications</div>
      </a>
      <!-- Submenu -->
      <ul class="sidenav-menu">
        <li class="sidenav-item">
          <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
            <div>List of all medications</div>
          </a>
          <ul class="sidenav-menu">
            <li class="sidenav-item">
              <%= link_to plan_path, class: "sidenav-link" do %>
                <i class="sidenav-icon ion ion-md-desktop"></i>
                <div>Plan</div>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Submenu -->
      <ul class="sidenav-menu">
        <li class="sidenav-item">
          <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
            <div>Your medications</div>
          </a>
          <ul class="sidenav-menu">
            <li class="sidenav-item">
              <%= link_to plan_path, class: "sidenav-link" do %>
              <i class="sidenav-icon ion ion-md-desktop"></i>
              <div>Plan</div>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- Place holder nav menu dropdown-->
    <li class="sidenav-item">
      <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
          <div>Health condition Tracking</div>
      </a>
      <ul class="sidenav-menu">
        <li class="sidenav-item">
          <%= link_to tracked_health_conditions_path, class: "sidenav-link" do %>
            <div>Your tracked items</div>
          <% end %>
        </li>
        <li class="sidenav-item">
          <%= link_to dashboard_measurements_path, class: "sidenav-link" do %>
            <div>Track something new</div>
          <% end %>
        </li>
      </ul>
    </li>

  </ul>
</div>
<!-- / Layout sidenav -->
